body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

header,
main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 500px;

    /* Set the maximum width of the slider */
    margin: 0 auto;
    /* Center the slider */
}

.slider img {
    max-width: 100%;

    /* Make sure the image fits within the slider */
    max-height: 300px;

    /* Set the maximum height for the images */
    border-radius: 5px;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.accordion-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tab-link {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}